/* TAGS */

body {
  font-size: small;
  font-family: Verdana, Arial, Helvetica, sans-serif;
  line-height: 1.6em;
}

h1, h2 {
  color: #007e7e;
}

h1 {
  font-size: 3.1em;
  line-height: normal;
}

h2 {
  font-size: 2.3em;
}

h3 {
  font-size: 1.8em;
}

h4 {
  font-size: 1.5em;
}

h5 {
  font-size: 1.3em;
}

h6 {
  font-size: 1.2em;
}

/* a:link {
  color: #007e7e;
}

a:visited {
  color: #333333;
} */



/* IDS */

#guarantee {
  line-height: 1.9em;
  font-style: italic;
  font-family: Georgia, 'Times New Roman', Times, serif;
  color: #444444;
  
  border-color: white;
  border-width: thin;
  border-style: dashed;

  background: #a7cece;
  background-image: url("./images/background.gif");
  background-repeat: no-repeat;
  background-position: top left;

  padding: 2em;
  padding-left: 6em;
  margin: 2em;
  margin-right: 20em;
}

#instructions:link {
  color: #007e7e
}

#instructions:visited {
  color: #333333;
}


#elixirs {
  border-width: thin;
  border-style: solid;
  border-color: #007e7e;

  text-align: center;
  line-height: normal;
  
  width: 16em;
  float: right;

  padding-right: 1.2em;
  padding-left: 1.2em;
  padding-bottom: 1.2em;

  margin-left: 1.2em;

  background-image: url("./images/cocktail.gif");
  background-repeat: repeat-x;
}

#elixirs h2 {
  color: #000000;
  font-size: 1.5em;
}

#elixirs h3 {
  color: #d12c47;
  font-size: 1.3em;
}

#elixirs a:hover {
  color: #0d5353;
  background: #f88396;
}

/* CLASSES */

.cd {
  font-style: italic;
}

.artist {
  font-weight: bold;
}

.footer {
  font-size: 50%;
  text-align: center;
  line-height: normal;
  margin-top: 30px;
}